{
    "presets": ["latest"],
    "sourceMaps": true,
    "ast": false,
    "minified": false,
    "plugins": [
      "transform-object-rest-spread",
      "transform-decorators-legacy",
      "transform-object-entries",
      "object-values-to-object-keys",
      "add-module-exports",
      "transform-async-to-generator"
    ]
  }