{
    "presets": ["latest", "react"],
    "sourceMaps": true,
    "ast": false,
    "minified": false,
    "plugins": [
      ["transform-object-rest-spread", {"useBuiltIns": true}],
      "transform-decorators-legacy",
      "transform-object-entries",
      "object-values-to-object-keys",
      "transform-export-extensions",
      "transform-class-properties",
      "transform-async-to-generator",
      ["transform-react-jsx", {"useBuiltIns": true}],
      ["transform-regenerator", {"async": false}]
    ]
  }